{{ partial "head.html" . }}
    <body>
        <div class="l-mega-place-holder"></div>
        {{ partial "megamenu.html" . }}
        <main id="a11y-skipmain" role="main">

            {{ .Content }}  

            {{ partial "carousel_knowledge_garden.html" . }}

        </main>

<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto+Slab:300,400" rel="stylesheet" type="text/css">

{{ partial "part_footer.html" . }}
{{ partial "jsonld_self.html" . }}
{{ partial "pfmf_script.html" . }}

    </body>
</html>