{{ partial "head.html" . }}

{{ partial "pfmf_script.html" . }}

    <body>
        <div class="l-mega-place-holder"></div>
        {{ partial "megamenu.html" . }}
        <main id="a11y-skipmain" role="main">
            <template style="height: 64px; margin: 2px;"></template>
            <h1 class="hd1 h-center"> {{ .Title }} </h1>

            {{ .Content }}  
            <!-- partial "carousel_emerging_tech.html" . -->
            <!-- partial "carousel_patterns.html" .  -->

        </main>

    </body>
</html>