<h1 class=" h-center readable__1stcta">Customizable Dashboards</h1>
<section class="pfmf-grid pfmf-grid__60_40">
    <div>
        <article class="js-art__caro l-caro-design h-ds__none">
            <section class="l-caro-design__cnt"
            data-caro-src="2">
                <img class="caro-target__js" src="/emailreplytime_overview.png" alt="">
                <img class="caro-target__js" src="/emailreplytime_day_breakdown.png" alt="">
                <img class="caro-target__js" src="/emailreplytime_day_breakdown.png" alt="">
            </section>   
        </article>
    </div>
    <div>
        <article class="pfmf-crd--black h-center">
            <p class="readable__doc readable__doc--white">emailreplytime Dashboards</p></article>
        <article><img src="/emailreplytime_overview.png" alt=""
            style="height: auto; width: 100%;"
            data-caro-target="2"></article>
    </div>
</section>