<section class="pfmf-grid pfmf-grid__100 readable__doc tiers-artc"></section>
    <aside class="parallax-world-of-tcs">
        <section>
             <div class="parallax-two">
                  <h2 class="hero-caption">Analytics and Conversion Tracking</h2>
                  <h2 class="hero-caption-2">You Can't Fix What You Can't Measure</h2>
            </div>
    </aside>
        </section>
<section class="pfmf-grid pfmf-grid__100 readable__doc tiers-artc">
    <div>
        <h1 class="readable__service">analytics and conversion tracking</h1>
    </div>
</section>

<section class="pfmf-grid pfmf-grid__50_50 readable__doc tiers-artc">
    <div>
        <article>
            <span>
                <section>
                    <ul> 
                        <li><p><span class="material-icons md-24">done</span>Conversion Tracking</p></li>
                        <li><p><span class="material-icons md-24">done</span>Call Tracking</p></li>
                        <li><p><span class="material-icons md-24">done</span>Marketing Attribution</p></li>
                        <li><p><span class="material-icons md-24">done</span>Goal/KPI Capture</p></li>
                        <li><p><span class="material-icons md-24">done</span>Tag Management</p></li>
                        <li><p><span class="material-icons md-24">done</span>Remarketing Audiences</p></li>
                   </ul>
                </section>
            </span>
        </article>
        

    </div>

    <div style="align-self: center;">

        <article class="pfmf-grid__artc--clear">
                <span>
                <section>
                   <p style="color: white;" class="readable__caption">
                   You can't measure success if you lack the ability to track it.</p>
                   <p style="color: white;" class="readable__caption">
                   We ensure you have proper conversion tracking across your pipeline, from proper channel attriubtion to set-up of goals/KPIs captured across your website, social media, and advertising efforts.</p>
                </section>
                <button class="js-cta__login c2a-mfm" style="margin: 10px;">Details</button>  
            </span>
        </article>
        

    </div>
</section>
