<section class="pfmf-grid pfmf-grid__100 readable__doc tiers-artc"></section>
    <aside class="parallax-world-of-tcs">
        <section>
             <div class="parallax-two">
                  <h2 class="hero-caption">Analytics and Conversion Tracking</h2>
                  <!--<h2 class="hero-caption-2">You Can't Fix What You Can't Measure</h2>-->
            </div>
    </aside>
        </section>
<section class="pfmf-grid pfmf-grid__100 readable__doc tiers-artc">
    <div>
        <h1 class="readable__service">analytics and conversion tracking</h1>
    </div>
</section>

<section class="pfmf-grid pfmf-grid__50_50 readable__doc tiers-artc">
    <div>
        <article>
            <span>
                <section>
test
                </section>
            </span>
        </article>
        

    </div>

    <div style="align-self: center;">

        <article class="pfmf-grid__artc--clear">
                <span>
                <section>
                   <p style="color: white;" class="readable__caption"><svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 0 24 24" width="36px" fill="#EE7768"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z"/></svg>
                   You can't measure success if you lack the ability to track it.</p>
                   <p style="color: white;" class="readable__caption"><svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 0 24 24" width="36px" fill="#EE7768"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z"/></svg>
                   We ensure you have proper conversion tracking across your pipeline, from proper channel attriubtion to set-up of goals/KPIs captured across your website, social media, and advertising efforts.</p>
                </section>
                <button class="js-cta__contact h-center c2a-mfm" onclick='pfmfModal.autoOpen("js-analytics--id")'>Analytics Services
                    <svg style="margin-bottom: -2.5px; padding-left: 4px;" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 20 20" width="18" fill="#FFF"><path fill="none" d="M0 0h20v20H0z"/><path d="M4.59 16.59L6 18l8-8-8-8-1.41 1.41L11.17 10z"/></svg>
                </button>
            </span>
        </article>
        

    </div>
</section>
