<section class="pfmf-grid pfmf-grid__100 readable__doc tiers-artc"></section>
    <aside class="parallax-world-of-tcs">
        <section>
             <div class="parallax-one">
                  <h2 class="hero-caption">Search Engine Management (SEM)</h2>
                  <h2 class="hero-caption-2">Appear top of the rankings</h2>
            </div>
    </aside>
        </section>


<section class="pfmf-grid pfmf-grid__100 readable__doc tiers-artc">
    <div>
        <h1 class="readable__service">search engine optimization</h1>
        </div>
</section>

<section class="pfmf-grid pfmf-grid__50_50 readable__doc tiers-artc">
    <div>
        <article>
            <span>
                <section>
                    <ul>
                        <li><p><span class="material-icons md-24">done</span> Content Decay Analysis</p></li>
                        <li><p><span class="material-icons md-24">done</span> Bounce Rate Strategies</p></li>
                        <li><p><span class="material-icons md-24">done</span> Keyword Cannibalization Analysis</p></li>
                        <li><p><span class="material-icons md-24">done</span> Site Performance Fixes</p></li>
                        <li><p><span class="material-icons md-24">done</span> Directory Listings</p></li>
                        <li><p><span class="material-icons md-24">done</span> Search Console Analysis</p></li>
                        <li><p><span class="material-icons md-24">done</span> Page Speed Insights</p></li>
                        <li><p><span class="material-icons md-24">done</span> Structured Data Markup</p></li>
                        <li><p><span class="material-icons md-24">done</span> Keyword Mapping</p></li>
                        <li><p><span class="material-icons md-24">done</span> Competitor Keyword Gap Analysis</p></li>
                        <li><p><span class="material-icons md-24">done</span> Keyword Ranking Reporting</p></li>
                        <li><p><span class="material-icons md-24">done</span> Google My Business Optimizations</p></li>
                        <li><p><span class="material-icons md-24">done</span> Bing Location Optimizations</p></li>
                        <li><p><span class="material-icons md-24">done</span> Local SEO (Geolocations)</p></li>
                   </ul>
                </section>
            </span>
        </article>
        

    </div>

    <div style="align-self: center;">

        <article class="pfmf-grid__artc--clear">
                <span>
                <section>
                   <p style="color: white" class="readable__caption">
                    Accept nothing less than the most powerful next-generation SEO platform.</p>

                    <p style="color: white" class="readable__caption">
                    Cutting-edge technology and service innovations that deliver the future of organic
                    search result positioning strategies. 
                   </p>
                   <p style="color: white" class="readable__caption">Custom-tailored & impactful SEO programs.</p>
                   <button class="js-cta__login c2a-mfm" style="margin: 10px;">Details</button>  

                </section>
            </span>
        </article>
        

    </div>
</section>

    <section class="pfmf-grid pfmf-grid__100 readable__doc tiers-artc">
        <div>
            <h1 class="readable__service">pay-per-click</h1>      
        </div>
    </section>

<section class="pfmf-grid pfmf-grid__50_50 readable__doc tiers-artc">
 
    <div style="align-self: center;">
        <article class="pfmf-grid__artc--clear">          
              <span>
                <section>
                   <p style="color: white" class="readable__caption">
                    Programs with strong keyword & targeting strategy and budget sanity.</p>
                   <p style="color: white" class="readable__caption">
                    We identify and quantify key areas for improvement with a plan for execution.
                   </p>
                   <p style="color: white" class="readable__caption">
                    Multi-channel programs to identify and address the best channel for your spend.
                   </p>
                   <p style="color: white" class="readable__caption">
                   Constant evulatiuon of key metrics like Impression Share, Click-Through-Rate, Cost-Per-Click, Cost-Per-Conversion, and tons more.
                   </p>
                   <p style="color: white" class="readable__caption">
                   Easy to understand executive-level reporting on Paid Advertising efforts that can effortlessly integrate with any pre-existing reproting structures.
                    </p>
                    <button class="js-cta__login c2a-mfm" style="margin: 10px;">Details</button>  
                </section>
            </span>
        </article>
        

    </div>

    <div>

        <article>
            <span>
                <section>
                   <ul>
                        <li><p><span class="material-icons md-24">done</span> Google & Bing Advertising</p></li>
                        <li><p><span class="material-icons md-24">done</span> Search Campaigns</p></li>
                        <li><p><span class="material-icons md-24">done</span> Shopping Campaigns</p></li>
                        <li><p><span class="material-icons md-24">done</span> Display Campaigns</p></li>
                        <li><p><span class="material-icons md-24">done</span> Programmatic Ads</p></li>
                        <li><p><span class="material-icons md-24">done</span> Amazon Ads</p></li>                       
                        <li><p><span class="material-icons md-24">done</span> Facebook Ads</p></li>
                        <li><p><span class="material-icons md-24">done</span> LinkedIn Ads</p></li>
                        <li><p><span class="material-icons md-24">done</span> Reddit Ads</p></li>
                   </ul>
                </section>
            </span>
        </article>
        

    </div>

</section>