<section class="pfmf-grid pfmf-grid__100 readable__doc tiers-artc">
    <div>

        <article class="pfmf-crd--gray h-center"><p class="readable__doc--white">Search Engine Management (SEM)</p></article>

    </div>
</section>

<section class="pfmf-grid pfmf-grid__50_50 readable__doc tiers-artc">
    <div>

        <h1 class="readable__service">search engine optimization</h1>
        <article>
            <span>
                <section>
                    <ul>
                        <li><p><span class="material-icons md-24">done</span> Content Decay Analysis</p></li>
                        <li><p><span class="material-icons md-24">done</span> Bounce Rate Strategies</p></li>
                        <li><p><span class="material-icons md-24">done</span> Keyword Cannibalization Analysis</p></li>
                        <li><p><span class="material-icons md-24">done</span> Site Performance Fixes</p></li>
                        <li><p><span class="material-icons md-24">done</span> Directory Listings</p></li>
                        <li><p><span class="material-icons md-24">done</span> Search Console Analysis</p></li>
                        <li><p><span class="material-icons md-24">done</span> Page Speed Insights</p></li>
                        <li><p><span class="material-icons md-24">done</span> Structured Data Markup</p></li>
                        <li><p><span class="material-icons md-24">done</span> Keyword Mapping</p></li>
                        <li><p><span class="material-icons md-24">done</span> Competitor Keyword Gap Analysis</p></li>
                        <li><p><span class="material-icons md-24">done</span> Keyword Ranking Reporting</p></li>
                        <li><p><span class="material-icons md-24">done</span> Google My Business Optimizations</p></li>
                        <li><p><span class="material-icons md-24">done</span> Bing Location Optimizations</p></li>
                        <li><p><span class="material-icons md-24">done</span> Local SEO (Geolocations)</p></li>
                   </ul>
                </section>
            </span>
        </article>
        

    </div>

    <div>

        <article>
            <span>
                <section>
                   <p class="readable__caption">
                    Accept nothing less than the most powerful next-generation SEO platform, with
                    cutting-edge technology and service innovations that deliver the future of organic
                    search result positioning strategies. Custom-tailored & impactful SEO programs.
                   </p>
                </section>
            </span>
        </article>
        

    </div>
</section>

<section class="pfmf-grid pfmf-grid__50_50 readable__doc tiers-artc">
 
    <div>
        <h1 class="readable__service">pay-per-click</h1>

        <article>
            <span>
                <section>
                   <p class="readable__caption">
                    Omni-channel programs with strong keyword/targeting strategy and budget sanity.
                    We identify and quantify key areas for improvement with a plan for execution.
                   </p>
                </section>
            </span>
        </article>
        

    </div>

    <div>

        <article>
            <span>
                <section>
                   <ul>
                        <li><p><span class="material-icons md-24">done</span> Google & Bing Advertising</p></li>
                        <li><p><span class="material-icons md-24">done</span> Search Campaigns</p></li>
                        <li><p><span class="material-icons md-24">done</span> Shopping Campaigns</p></li>
                        <li><p><span class="material-icons md-24">done</span> Display Campaigns</p></li>
                        <li><p><span class="material-icons md-24">done</span> Programmatic Ads</p></li>
                        <li><p><span class="material-icons md-24">done</span> Amazon Ads</p></li>                       
                        <li><p><span class="material-icons md-24">done</span> Facebook Ads</p></li>
                        <li><p><span class="material-icons md-24">done</span> LinkedIn Ads</p></li>
                        <li><p><span class="material-icons md-24">done</span> Reddit Ads</p></li>
                   </ul>
                </section>
            </span>
        </article>
        

    </div>

</section>