<aside class="parallax-world-of-tcs">
    <section>
         <div class="parallax-five">
              <h2 class="hero-caption">Auditing</h2>
        </div>
</aside>
    </section>

<section class="pfmf-grid pfmf-grid__50_50 readable__doc tiers-artc">
    <div>
        <h1 class="readable__service">seo & ppc auditing</h1>
        </div>

</section>

<section class="pfmf-grid pfmf-grid__50_50 readable__doc tiers-artc">
    
    <article class="pfmf-grid__artc--clear">
        <span>
        <section>
           <p style="color: white" class="readable__caption"><svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 0 24 24" width="36px" fill="#EE7768"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z"/></svg> SEO and PPC audits ranging in scale and scope but always providing in-depth and actionable plans.</p>
           <button class="js-cta__contact h-center c2a-mfm" onclick='pfmfModal.autoOpen("js-ppcaudits--id")'>PPC Audits
            <svg style="margin-bottom: -2.5px; padding-left: 4px;" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 20 20" width="18" fill="#FFF"><path fill="none" d="M0 0h20v20H0z"/><path d="M4.59 16.59L6 18l8-8-8-8-1.41 1.41L11.17 10z"/></svg>
        </button>    
        <button class="js-cta__contact h-center c2a-mfm" onclick='pfmfModal.autoOpen("js-seoaudits--id")'>SEO Audits
            <svg style="margin-bottom: -2.5px; padding-left: 4px;" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 20 20" width="18" fill="#FFF"><path fill="none" d="M0 0h20v20H0z"/><path d="M4.59 16.59L6 18l8-8-8-8-1.41 1.41L11.17 10z"/></svg>
        </button>          
       </section>
    </span>
</article>

    
    <div>
        <article>
            <span>
                <section>
     test
                </section>
            </span>
        </article>
        

    </div>
</section>

