<section class="pfmf-grid pfmf-grid__33_33_33 readable__doc
tiers-artc">
    <div>
        <article class="pfmf-crd--black h-center"><p class="readable__doc readable__doc--white">Free Users</p></article>

        <article>
            <span>
                <section>
                   <ul>
                        <li><p><span class="material-icons md-24">done</span> Email Reply Time Report</p></li>
                        <li><p><span class="material-icons md-24">done</span> Customize Business Hours</p></li>
                        <li><p><span class="material-icons md-24">done</span> Create Custom Reports</p></li>
                        <li><p><span class="material-icons md-24">done</span> Vacation/Time Off Management</p></li>
                        <li><p><span class="material-icons md-24">done</span> Data Filtering</p></li>
                        <li class="tier__off"><p><span class="material-icons md-24">done</span> Team Level and Individual Level Reports</p></li>
                        <li class="tier__off"><p><span class="material-icons md-24">done</span>  Data Export</p></li>
                        <li class="tier__off"><p><span class="material-icons md-24">done</span> Month-to-Month Trend Reports</p></li>
                        <li class="tier__off"><p><span class="material-icons md-24">done</span> Team Analytics Comparison Reports</p></li>
                        <li class="tier__off"><p><span class="material-icons md-24">done</span> White Label Reporting</p></li>
                        <li class="tier__off"><p><span class="material-icons md-24">done</span> Custom Integrations</p></li>
                        <li class="tier__off"><p><span class="material-icons md-24">done</span> Custom Organization-Wide Dashboarding</p></li>


                   </ul>
                   <br>
                   <output>Forever Free</output>
                </section>
            </span>
        </article>
        
    </div>
    <div>
        <article class="pfmf-crd--black h-center"><p class="readable__doc readable__doc--white">Premium Users</p></article>

        <article>
            <span>
                <section>
                    <ul>
                        <li><p><span class="material-icons md-24">done</span> Email Reply Time Report</p></li>
                        <li><p><span class="material-icons md-24">done</span> Customize Business Hours</p></li>
                        <li><p><span class="material-icons md-24">done</span> Create Custom Reports</p></li>
                        <li><p><span class="material-icons md-24">done</span> Vacation/Time Off Management</p></li>
                        <li><p><span class="material-icons md-24">done</span> Advanced Data Filtering</p></li>
                        <li><p><span class="material-icons md-24">done</span> Team Level and Individual Level Reports</p></li>
                        <li><p><span class="material-icons md-24">done</span>  Data Export</p></li>
                        <li><p><span class="material-icons md-24">done</span> Month-to-Month Trend Reports</p></li>
                        <li><p><span class="material-icons md-24">done</span> Team Analytics Comparison Reports</p></li>
                        <li class="tier__off"><p><span class="material-icons md-24">done</span> White Label Reporting</p></li>
                        <li class="tier__off"><p><span class="material-icons md-24">done</span> Custom Integrations</p></li>
                        <li class="tier__off"><p><span class="material-icons md-24">done</span> Custom Organization-Wide Dashboarding</p></li>

                    </ul>
                    <br>
                    <output>$15 per Inbox</output>
                </section>
            </span>
        </article>

    </div>
    <div>
        <article class="pfmf-crd--black h-center"><p class="readable__doc readable__doc--white">Enterprise Users</p></article>

        <article>
            <span>
                <section>
                    <ul>
                        <li><p><span class="material-icons md-24">done</span> Email Reply Time Report</p></li>
                        <li><p><span class="material-icons md-24">done</span> Customize Business Hours</p></li>
                        <li><p><span class="material-icons md-24">done</span> Create Custom Reports</p></li>
                        <li><p><span class="material-icons md-24">done</span> Vacation/Time Off Management</p></li>
                        <li><p><span class="material-icons md-24">done</span> Advanced Data Filtering</p></li>
                        <li><p><span class="material-icons md-24">done</span> Team Level and Individual Level Reports</p></li>
                        <li><p><span class="material-icons md-24">done</span>  Data Export</p></li>
                        <li><p><span class="material-icons md-24">done</span> Month-to-Month Trend Reports</p></li>
                        <li><p><span class="material-icons md-24">done</span> Team Analytics Comparison Reports</p></li>
                        <li><p><span class="material-icons md-24">done</span> White Label Reporting</p></li>
                        <li><p><span class="material-icons md-24">done</span> Custom Integrations</p></li>
                        <li><p><span class="material-icons md-24">done</span> Custom Organization-Wide Dashboarding</p></li>

                    </ul>
                    <br>
                    <output>Learn More</output>
                </section>
            </span>
        </article>

    </div>
</section>