<footer>
    <section class="pfmf-grid pfmf-grid__33_33_33 readable__caption">
        <div>
            <article style="min-height: 56px;text-align: center;padding: 16px 8px;">
<a class="h-link" target="_blank" rel="noopener" href="/legal/terms-and-conditions/">Terms & Conditions</a>
            </article>
        </div>
        <div>
            <article style="min-height: 56px;text-align: center;padding: 16px 8px;">
© 2021 machvive
            </article>
        </div>
        <div>
            <article style="min-height: 56px;text-align: center;padding: 16px 8px;">
<a class="h-link" target="_blank" rel="noopener" href="/legal/privacy-policy/">Privacy Notice</a>
            </article>
        </div>
</footer>
