<section class="pfmf-grid pfmf-grid__100 readable__doc tiers-artc">
    <div>

        <article class="pfmf-crd--gray h-center"><p class="readable__doc--white">Marketing Tech</p></article>

    </div>
</section>

<section class="pfmf-grid pfmf-grid__50_50 readable__doc tiers-artc">
    <div>

        <h1 class="readable__service">web and app design</h1>
        <article>
            <span>
                <section>
                    <ul>
                        <li><p><span class="material-icons md-24">done</span>Effortless UX</p></li>
                        <li><p><span class="material-icons md-24">done</span>Responsive</p></li>
                        <li><p><span class="material-icons md-24">done</span>Mobile First</p></li>
                        <li><p><span class="material-icons md-24">done</span>Offline Capable</p></li>
                        <li><p><span class="material-icons md-24">done</span>WordPress Alternatives</p></li>
                   </ul>
                </section>
            </span>
        </article>
        

    </div>

    <div>

        <article>
            <span>
                <section>
                   <p class="readable__caption">
                    Our full stack solution that merges <b style="color: #EE7768;">marketing, technology, and design.</b> Bleeding
edge web & app development, marketing automation, custom dashboards, and
CMO friendly tools that connect and play nicely with one another.
                   </p>
                </section>
            </span>
        </article>
        

    </div>
</section>

<section class="pfmf-grid pfmf-grid__50_50 readable__doc tiers-artc">
   
    <div>
        <h1 class="readable__service">marketing automation</h1>
        <article>
            <span>
                <section>
                   <p class="readable__caption">
                    Cloud API Integrations. CMS Integrations.
                   </p>
                </section>
            </span>
        </article>
        

    </div>

    <div>

        
        <article>
            <span>
                <section>
                    <ul>
                        <li><p><span class="material-icons md-24">done</span>HubSpot Onboarding</p></li>
                        <li><p><span class="material-icons md-24">done</span>Lead Lists</p></li>
                        <li><p><span class="material-icons md-24">done</span>Contact Management</p></li>
                        <li><p><span class="material-icons md-24">done</span>Email Drip Campaigns</p></li>
                        <li><p><span class="material-icons md-24">done</span>Custom Dashboards</p></li>
                   </ul>
                </section>
            </span>
        </article>
        

    </div>

</section>

<section class="pfmf-grid pfmf-grid__50_50 readable__doc tiers-artc">
    <div>

        <h1 class="readable__service">CMO Dashboards</h1>
        <article>
            <span>
                <section>
                    <ul> 
                        <li><p><span class="material-icons md-24">done</span>Reputation Management</p></li>
                        <li><p><span class="material-icons md-24">done</span>Competitor Watch</p></li>
                        <li><p><span class="material-icons md-24">done</span>Social Performance</p></li>
                        <li><p><span class="material-icons md-24">done</span>Content Performance</p></li>
                        <li><p><span class="material-icons md-24">done</span>Ad Performance</p></li>
                        <li><p><span class="material-icons md-24">done</span>1 Click Mini-Audit</p></li>
                        <li><p><span class="material-icons md-24">done</span>Quick Reports</p></li>
                   </ul>
                </section>
            </span>
        </article>
        

    </div>

    <div>

        <article>
            <span>
                <section>
                   <p class="readable__caption">
                    Executive level decision support.
                   </p>
                </section>
            </span>
        </article>
        

    </div>
</section>
