<section class="pfmf-grid--parax pfmf-grid__100 readable__doc">
    <div>
        <article class="js-space__1 pfmf-grid__artc--clear pfmf-grid__artc--parax"
        style="height: 400px;">
                <div class="js-space-cta">
                    <canvas id="js-space-gen" style="background-color: #EE7768;"></canvas>
                </div>
        </article>
    </div>
</section>

<section class="pfmf-grid pfmf-grid__50_50 h-center">
    <div> 
        <button class="js-cta__contact c2a-mfm">Contact Us</button>
    </div>
    <div>
        <button class="js-cta__login c2a-mfm">Client Login</button>  
    </div>
</section>

<script>
var canvas=document.getElementById("js-space-gen"),ctx=canvas.getContext("2d"),w=canvas.width=window.innerWidth,h=canvas.height=window.innerHeight,hue=211,stars=[],count=0,maxStars=1400,canvas2=document.createElement("canvas"),ctx2=canvas2.getContext("2d");canvas2.width=100;canvas2.height=100;var half=canvas2.width/2,gradient2=ctx2.createRadialGradient(half,half,0,half,half,half);gradient2.addColorStop(.025,"#fff");gradient2.addColorStop(.1,"hsl(150, 9%, 87%)");gradient2.addColorStop(.25,"hsl(150, 64%, 6%)");
gradient2.addColorStop(1,"transparent");ctx2.fillStyle=gradient2;ctx2.beginPath();ctx2.arc(half,half,half,0,2*Math.PI);ctx2.fill();function random(a,b){2>arguments.length&&(b=a,a=0);if(a>b){var c=b;b=a;a=c}return Math.floor(Math.random()*(b-a+1))+a}function maxOrbit(a,b){var c=Math.max(a,b);return Math.round(Math.sqrt(c*c+c*c))/2}
var Star=function(){this.orbitRadius=random(maxOrbit(w,h));this.radius=random(60,this.orbitRadius)/12;this.orbitX=w/2;this.orbitY=h/2;this.timePassed=random(0,maxStars);this.speed=random(this.orbitRadius)/5E4;this.alpha=random(2,10)/10;count++;stars[count]=this};
Star.prototype.draw=function(){var a=Math.sin(this.timePassed)*this.orbitRadius+this.orbitX,b=Math.cos(this.timePassed)*this.orbitRadius+this.orbitY,c=random(10);1===c&&0<this.alpha?this.alpha-=.05:2===c&&1>this.alpha&&(this.alpha+=.05);ctx.globalAlpha=this.alpha;ctx.drawImage(canvas2,a-this.radius/2,b-this.radius/2,this.radius,this.radius);this.timePassed+=this.speed};for(var i=0;i<maxStars;i++)new Star;
function animation(){ctx.globalCompositeOperation="source-over";ctx.globalAlpha=.8;ctx.fillStyle="hsla(211, 39%, 19%, 1)";ctx.fillRect(0,0,w,h);ctx.globalCompositeOperation="lighter";for(var a=1,b=stars.length;a<b;a++)stars[a].draw();window.requestAnimationFrame(animation)}animation();
</script>