<section class="pfmf-grid pfmf-grid--hero pfmf-grid__100">
    <div>
        <article class="pfmf-grid__artc--clear QQQpfmf-grid__artc--hero">

            <section class="pfmf-grid pfmf-grid--hero pfmf-grid__25_25_25_25" >
                <div></div>
                <div>
                    <article class="pfmf-grid__artc--clear">
                        <p class="lgo-para">
                            <div class="main-lgo">
                            <span class="js-lgo-para__left font_fam4"
                            data-font-hold="font_fam4" style="color: #54645E;">mach</span>
                            <span class="js-lgo-para__right font_fam8"
                            data-font-hold="font_fam8" style="color: #EE7768;">five</span>
                            </div>
                        </p>
                    </article>
                </div>
                <div>
                    <article class="pfmf-grid__artc--clear">
                        <div class="h-left">
                            <h5 class="tagline font_fam3">Envision, manage, design, and <b style="color: #EE7768;">deliver.<h5>
                        </div>
                    </article>
                </div>
                <div></div>
            </section>

        </article>
    </div>
</section>

<br>
<!--
    Animation caption: "Digital Marketing That Smashes the Sound Barrier"
-->
<script>
    "use strict";
    var aMVLgo = [[4,8],[7,9],[13,19],[15,6],[21,20]];
    var _d = document;
    var eL = _d.querySelector(".js-lgo-para__left");
    var eR = _d.querySelector(".js-lgo-para__right");
    setInterval(function(){
        var nL = Math.floor(Math.random() * 4);
        nL = aMVLgo[ nL ][0];
        var sPrv = eL.dataset.fontHold;
        eL.classList.remove( sPrv );
        eL.classList.add( "font_fam" + nL );
        eL.dataset.fontHold = "font_fam" + nL;
    }, 2200);
    setInterval(function(){
        var nR = Math.floor(Math.random() * 4);
        nR = aMVLgo[ nR ][1];        
        var sPrv = eR.dataset.fontHold;
        eR.classList.remove( sPrv );
        eR.classList.add( "font_fam" + nR );
        eR.dataset.fontHold = "font_fam" + nR;
    }, 1000);
</script>
