<br>
<section class="pfmf-grid pfmf-grid__100 readable__doc tiers-artc"></section>
    <aside class="parallax-world-of-tcs">
        <section>
             <div class="parallax-three">
                  <h2 class="hero-caption">Marketing Tech</h2>
                  <h2 class="hero-caption-2">Marketing automation</h2>
            </div>
    </aside>
        </section>


<section class="pfmf-grid pfmf-grid__100 readable__doc tiers-artc">
    <div>

<h1 class="readable__service">web and app design</h1>
</div>
</section>

<section class="pfmf-grid pfmf-grid__50_50 readable__doc tiers-artc">
 
   
    
    <div>

        <article class="pfmf-grid__artc--clear">
            <span>
                <section>
                   <p style="color: white" class="readable__caption">We believe in unique website experiences that resonate and creates interest and buzz.</p>
                   <p style="color: white" class="readable__caption">We are committed to making your website so obviously superior to all the other boring, made in an hour, template sites. We make the web fun again.</p>
                   <p style="color: white" class="readable__caption">Motion graphics distinguish the message from the noise. Vivid video and smooth animation blend into an immersive experience.</p>
                   <p style="color: white" class="readable__caption">Animation resonates emotionally. It can make the complex seem simple. It can make the abstract clear and personally identifiable.</p>
                   <p style="color: white" class="readable__caption">Our superpower is an expert level knowledge of cutting-edge tech that our competition doesn't even know exists.</p>
                   <button class="js-cta__login c2a-mfm" style="margin: 10px;">Details</button>  
                </section>
            </span>
        </article>
        

    </div>

    <div style="align-self: center;">
        <article>
            <span>
                <section>
                    <ul>
                        <li><p><span class="material-icons md-24">done</span>Effortless UX</p></li>
                        <li><p><span class="material-icons md-24">done</span>Mobile Responsive</p></li>
                        <li><p><span class="material-icons md-24">done</span>Custom 3D Animation</p></li>
                        <li><p><span class="material-icons md-24">done</span>Custom Product Videos</p></li>
                        <li><p><span class="material-icons md-24">done</span>Digital Menu Kiosks</p></li>
                        <li><p><span class="material-icons md-24">done</span>Progressive Web Apps</p></li>
                   </ul>
                </section>
            </span>
        </article>
        

    </div>
</section>

<section class="pfmf-grid pfmf-grid__100 readable__doc tiers-artc">
    <div>
        <h1 class="readable__service">marketing automation</h1>    
    </div>
</section>

<section class="pfmf-grid pfmf-grid__50_50 readable__doc tiers-artc">
   
 
    <div style="align-self: center;">

        
        <article>
            <span>
                <section>
                    <ul>
                        <li><p><span class="material-icons md-24">done</span>HubSpot Onboarding</p></li>
                        <li><p><span class="material-icons md-24">done</span>Lead Lists</p></li>
                        <li><p><span class="material-icons md-24">done</span>Contact Management</p></li>
                        <li><p><span class="material-icons md-24">done</span>Email Drip Campaigns</p></li>
                        <li><p><span class="material-icons md-24">done</span>Custom Dashboards</p></li>
                   </ul>
                </section>
            </span>
        </article>
        

    </div>

    <div>

        <article class="pfmf-grid__artc--clear">
           <span>
               <section>
                  <p style="color: white" class="readable__caption">We are HubSpot onboarding experts. Whether you desire to migrate from a different CRM or start anew with HubSpot, MachFive can easily facilitate the process.</p>
                  <p style="color: white" class="readable__caption">We provide on-site and online training for Sales and Marketing reps, as well as management teams for all aspects of HubSpot: from managing and automating contact creation, creating lead and nurture lists, landing page and chat bot creation, email lists and drip campaigns,</p>
                  <p style="color: white" class="readable__caption">C-level dashboards for supreme organizational insights, to aligning ads and social efforts all within the HubSpot CRM.</p>
                  </p>
                  <p style="color: white" class="readable__caption">Additionally, we ensure all tracking and analytics are aligned company-wide to provide the highest level of insight possible. 

                </p>
                <p style="color: white" class="readable__caption">MachFive offers bespoke solutions for any and all HubSpot and CRM challenges. Auditing and general consulting available in addition to an overall, all-encompassing HubSpot package.
                </p>
               </section>
               <button class="js-cta__login c2a-mfm" style="margin: 10px;">Details</button>  
           </span>
       </article>
       

   </div>


</section>


<section class="pfmf-grid pfmf-grid__100 readable__doc tiers-artc">
    <div>
        <h1 class="readable__service">executive dashboarding</h1>    
    </div>
</section>

<section class="pfmf-grid pfmf-grid__50_50 readable__doc tiers-artc">
    

    <div>

        <article class="pfmf-grid__artc--clear">         
               <span>
                <section>
                   <p style="color: white" class="readable__caption">Tools that allow for strong executive-level decision support.</p> 
                   <p style="color: white" class="readable__caption">Mach Five frequently engineers custom solutions across various data-sets, data warehouses, CRMs, and analytical tools to help clients achieve what we call<br> "<b style="color: #EE7768;">your one true data truth</b>".</p>
                   <p style="color: white" class="readable__caption">CMO friendly tools that connect and play nicely with one another.</p>
                   <p style="color: white" class="readable__caption">Go beyond what is typically available through dashboarding tools like Google Data Studio and HubSpot with custom dashboards that allow for insight to all levels of your organization.</p>
                </section>
                <button class="js-cta__login c2a-mfm" style="margin: 10px;">Details</button>  

            </span>
        </article>
        

    </div>

    <div style="align-self: center;">
        <article>
            <span>
                <section>
                    <ul> 
                        <li><p><span class="material-icons md-24">done</span>Reputation Management</p></li>
                        <li><p><span class="material-icons md-24">done</span>Competitor Watch</p></li>
                        <li><p><span class="material-icons md-24">done</span>Social Performance</p></li>
                        <li><p><span class="material-icons md-24">done</span>Content Performance</p></li>
                        <li><p><span class="material-icons md-24">done</span>Ad Performance</p></li>
                        <li><p><span class="material-icons md-24">done</span>1 Click Mini-Audit</p></li>
                        <li><p><span class="material-icons md-24">done</span>Quick Reports</p></li>
                   </ul>
                </section>
            </span>
        </article>
        

    </div>
</section>
