<section class="pfmf-grid pfmf-grid__100 readable__doc tiers-artc">
    <div>

        <article class="pfmf-crd--gray h-center"><p class="readable__doc--white">Content</p></article>

    </div>
</section>

<section class="pfmf-grid pfmf-grid__50_50 readable__doc tiers-artc">
    <div>

        <h1 class="readable__service">content</h1>
        <article>
            <span>
                <section>
                    <ul> 
                        <li><p><span class="material-icons md-24">done</span>Conversion Tracking</p></li>
                        <li><p><span class="material-icons md-24">done</span>Call Tracking</p></li>
                        <li><p><span class="material-icons md-24">done</span>Marketing Attribution</p></li>
                        <li><p><span class="material-icons md-24">done</span>Goal/KPI Capture</p></li>
                        <li><p><span class="material-icons md-24">done</span>Tag Management</p></li>
                        <li><p><span class="material-icons md-24">done</span>Remarketing Audiences</p></li>
                   </ul>
                </section>
            </span>
        </article>
        

    </div>

    <div>

        <article>
            <span>
                <section>
                   <p class="readable__caption">
                    Executive level decision support.
                   </p>
                </section>
            </span>
        </article>
        

    </div>
</section>
