<section class="pfmf-grid--parax pfmf-grid__100 readable__doc" style="position: relative;">
    <div>
        <article>
            <div style="width: 99%; overflow: hidden; margin: 0 auto;">
                <canvas id="js-space-gen"></canvas>
            </div>
        </article>
        <article
        style="background-color: rgba(0,0,0,.16);
        border-radius: 54px 6px 54px 6px;
        position: absolute;
        top: 30%;
        left: 12%;
        right: 12%;
        z-index: 24;
        backdrop-filter: blur(6px);">
            <div class="h-center">
                <br>
                <p class="readable__caption readable__doc--white">You know where you need to be but how do you get there?</p>
                <p class="readable__caption readable__doc--white">Get started with a <span style= "color: #DD4124; font-weight: 600;">FREE</span> Digital Marketing Report!</p>  
                <section>
                    <p class="readable__caption readable__doc--white">Mach Five Marketing's digital landscape snapshot report sent directly to your inbox.</p>
                </section>
                <br>
                <div>
                    <a data-n55-enchanted-cta id="cta-btn-dl-report-id"
                    target="_blank" rel="noopener" tabindex="0"
                    data-n55-sodapop-id="js-reportrequest--id"
                    data-n55-enchanted-cta-size="medium"
                    data-n55-theme="danger"
                    data-n55-enchanted-cta-ambient="emit">
                        <span>Digital Landscape Report</span><span>Emailed for Free</span>
                    </a>
                </div>
                <br>
            </div>
        </article>
    </div>
</section>

<script>
    var canvas=document.getElementById("js-space-gen"),ctx=canvas.getContext("2d"),w=canvas.width=window.innerWidth,h=canvas.height=window.innerHeight,hue=211,stars=[],count=0,maxStars=1400,canvas2=document.createElement("canvas"),ctx2=canvas2.getContext("2d");canvas2.width=100;canvas2.height=100;var half=canvas2.width/2,gradient2=ctx2.createRadialGradient(half,half,0,half,half,half);gradient2.addColorStop(.025,"#fff");gradient2.addColorStop(.1,"hsl(150, 9%, 87%)");gradient2.addColorStop(.25,"hsl(150, 64%, 6%)");
    gradient2.addColorStop(1,"transparent");ctx2.fillStyle=gradient2;ctx2.beginPath();ctx2.arc(half,half,half,0,2*Math.PI);ctx2.fill();function random(a,b){2>arguments.length&&(b=a,a=0);if(a>b){var c=b;b=a;a=c}return Math.floor(Math.random()*(b-a+1))+a}function maxOrbit(a,b){var c=Math.max(a,b);return Math.round(Math.sqrt(c*c+c*c))/2}
    var Star=function(){this.orbitRadius=random(maxOrbit(w,h));this.radius=random(60,this.orbitRadius)/12;this.orbitX=w/2;this.orbitY=h/2;this.timePassed=random(0,maxStars);this.speed=random(this.orbitRadius)/15E4;this.alpha=random(2,10)/10;count++;stars[count]=this};
    Star.prototype.draw=function(){var a=Math.sin(this.timePassed)*this.orbitRadius+this.orbitX,b=Math.cos(this.timePassed)*this.orbitRadius+this.orbitY,c=random(10);1===c&&0<this.alpha?this.alpha-=.05:2===c&&1>this.alpha&&(this.alpha+=.05);ctx.globalAlpha=this.alpha;ctx.drawImage(canvas2,a-this.radius/2,b-this.radius/2,this.radius,this.radius);this.timePassed+=this.speed};for(var i=0;i<maxStars;i++)new Star;
    function animation(){ctx.globalCompositeOperation="source-over";ctx.globalAlpha=.8;ctx.fillStyle="hsla(211, 39%, 19%, 1)";ctx.fillRect(0,0,w,h);ctx.globalCompositeOperation="lighter";for(var a=1,b=stars.length;a<b;a++)stars[a].draw();window.requestAnimationFrame(animation)}animation();
</script>