<section class="pfmf-grid pfmf-grid__100 readable__doc tiers-artc">
    <div>
        <article class="pfmf-crd--gray h-center">
            <h1 class="h-center">Content</h1>
            <p class="readable__doc--white">Content is king.</p></article>

    </div>
</section>

<section class="pfmf-grid pfmf-grid__100 readable__doc tiers-artc">
    <div>
        <h1 class="readable__service">content</h1>    
    </div>
</section>

<section class="pfmf-grid pfmf-grid__50_50 readable__doc tiers-artc">
   
    <div>

        <article class="pfmf-grid__artc--clear">
                <span>
                <section>
                   <p style="color: white" class="readable__caption">A strong content marketing strategy is key to bringing in and maintaining organic traffic.</p>
                   <i><p style="color: ee7768; font-weight: bold;" class="h-center readable__caption">"Speak not of persuasion, but of interest."</p></i>
                   <p style="color: white" class="readable__caption">A repetitive, disinterested blog writing strategy will yield similarly disinterested and non-converting web traffic.</p>
                   <p style="color: white" class="readable__caption">We offer engaging and highly considered content, but the buck doesn't stop there.</p>
                   <p style="color: white" class="readable__caption">An ideal content strategy is one that produces content that both humans and search engines love. This is where many companies fail.</p>
                   <p style="color: white" class="readable__caption">Mach Five will assist you with a custom content creation framework that includes highly valuable SEO keywords and detailed reporting to help you best understand what is working and where your traffic is coming from.</p>
                   <button class="js-cta__login c2a-mfm" style="margin: 10px;">Details</button>  
                </section>
            </span>
        </article>
        

    </div>
   
    <div style="align-self: center;">
    
        <article>
            <span>
                <section>
                    <ul> 
                        <li><p><span class="material-icons md-24">done</span>Content Planning</p></li>
                        <li><p><span class="material-icons md-24">done</span>Blog Writing</p></li>
                        <li><p><span class="material-icons md-24">done</span>Keyword Injection</p></li>
                        <li><p><span class="material-icons md-24">done</span>Search Enginge Friendly Schema Strategies</p></li>
                        <li><p><span class="material-icons md-24">done</span>Content Success Reporting</p></li>
                   </ul>
                </section>
            </span>
        </article>
        

    </div>


</section>
