<section class="pfmf-bg-white pfmf-g readable__doc rid__100 tiers-artc">
    <div>
        <h1 class="hero-caption h-center" style="margin-top: 50px;">Better Tools Means Better Engagement</h1>
        <p class="readable__doc h-center" style="margin-left: 25px; margin-right: 25px;">Industry-leading platforms and partnerships enable us to achieve and maintain success for your brand.</p>
        <p class=" readable__doc h-center" style="margin-left: 25px; margin-right: 25px;">We believe that in order to consistently deliver value to our clients, we must stay at the forefront of technology, data intelligence and customer management.</p>
        <p class=" readable__doc h-center" style="margin-left: 25px; margin-right: 25px; color: #EE7768;">Digital Advertising | SEO & Content | CRMs & Marketing Automation | Analytics & Attribution | Enterprise Dashboarding | Web Development & Landing Pages | Cloud</p>
        <br>
    </div>
  
    <!--    <div>
        <h1 class="h-center">Fresh Perspective</h1>
    -->      
     <div class="l-caro-design">
 
        <article class="js-art__caro h-ds__none">
            <section class="l-caro-design__cnt">
            {{ range .Site.Pages }}
                {{ if (eq .File.Dir "emerging_tech/" ) }}
                <a class="l-blog-crd" href="{{.Permalink}}">
                <section>
                    <picture>
                        <!--  1280 X 720  -->
                        <img class="caro-target__js" src="/emerging_tech/{{.Page.Slug}}_tn.webp" alt="{{.Page.Title}}">
                    </picture>
                    <p>Email Tech</p>
                    <!-- {{.Title}} | {{.File.Dir}} -->
                    <h5> {{.Page.Title}} </h5>
                    <h6> {{.Page.Summary}} </h6>
                    <p>{{.Date.Format "2006-01-02"}}</p>
                </section>
                </a>
                {{end}}
            {{ end }}
            </section>
        </article>

    </div>
    </div>
</section> 
