<section class="pfmf-grid pfmf-grid__100 readable__doc tiers-artc">
    <div>

        <article class="pfmf-crd--gray h-center"><p class="readable__doc--white">Auditing
            <br>
            SEO and PPC audits ranging in scale and scope but always providing in-depth, actionable plans.</p>
        </article>
    </div>
</section>

<section class="pfmf-grid pfmf-grid__50_50 readable__doc tiers-artc">
    <div>
        <h1 class="readable__service">seo auditing</h1>
        </div>
        <div>
            <h1 class="readable__service">ppc auditing</h1>
            </div>
</section>

<section class="pfmf-grid pfmf-grid__50_50 readable__doc tiers-artc">
    <div>
        <article>
            <span>
                <section>
                    <ul> 
                        <li><p><span class="material-icons md-24">done</span>Keyword Cannibalization</p></li>
                        <li><p><span class="material-icons md-24">done</span>SERP Analysis</p></li>
                        <li><p><span class="material-icons md-24">done</span>Indexing Issues</p></li>
                        <li><p><span class="material-icons md-24">done</span>Site Maps</p></li>
                        <li><p><span class="material-icons md-24">done</span>Structured Data</p></li>
                        <li><p><span class="material-icons md-24">done</span>Social Channels</p></li>
                        <li><p><span class="material-icons md-24">done</span>Page Speed Insights</p></li>
                        <li><p><span class="material-icons md-24">done</span>Meta Descriptions</p></li>
                        <li><p><span class="material-icons md-24">done</span>Page Titles</p></li>
                        <li><p><span class="material-icons md-24">done</span>Image Sizes</p></li>
                        <li><p><span class="material-icons md-24">done</span>Alt Tags</p></li>
                        <li><p><span class="material-icons md-24">done</span>Mixed Content</p></li>
                        <li><p><span class="material-icons md-24">done</span>Broken Links</p></li>
                        <li><p><span class="material-icons md-24">done</span>Redirects & Canonicals</p></li>
                        <li><p><span class="material-icons md-24">done</span>Top Organic Keywords</p></li>
                        <li><p><span class="material-icons md-24">done</span>Top Converting Pages</p></li>
                        <li><p><span class="material-icons md-24">done</span> Content Decay</p></li>
                        <li><p><span class="material-icons md-24">done</span>Competitor Landscapes</p></li>
                   </ul>
                </section>
            </span>
        </article>
        

    </div>

    
    <div>
        <article>
            <span>
                <section>
                    <ul> 
                        <li><p><span class="material-icons md-24">done</span>Campaign Structures</p></li>
                        <li><p><span class="material-icons md-24">done</span>Bidding Strategy</p></li>
                        <li><p><span class="material-icons md-24">done</span>Keyword Strategy</p></li>
                            <li><p><span class="material-icons md-24">done</span>Negative Keyword Lists</p></li>
                        <li><p><span class="material-icons md-24">done</span>Keyword Match Types</p></li>
                        <li><p><span class="material-icons md-24">done</span>Search Impression Share</p></li>
                        <li><p><span class="material-icons md-24">done</span>Ad Group Structure</p></li>
                        <li><p><span class="material-icons md-24">done</span>Scripting Validation</p></li>
                        <li><p><span class="material-icons md-24">done</span>Auction Insights</p></li>
                        <li><p><span class="material-icons md-24">done</span>Ad Quality Scores</p></li>
                        <li><p><span class="material-icons md-24">done</span>Ad Messaging</p></li>
                        <li><p><span class="material-icons md-24">done</span>Competitor Messaging</p></li>
                   </ul>
                </section>
            </span>
        </article>
        

    </div>
</section>

<section class="pfmf-grid pfmf-grid__100 readable__doc tiers-artc">
    
</section>

<section class="pfmf-grid pfmf-grid__50_50 readable__doc tiers-artc">
    <div>
        <article class="pfmf-grid__artc--clear">
                <span>
                <section>
                  
                </section>
            </span>
        </article>
        

    </div>
   
    <div>
       
        

    </div>


</section>